*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
/sim/build/
.kotlin/
*.mp4
/sim-out/
/design/*/models
/design/*/hs/
__pycache__/
